<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<string>YES</string>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>VbBueVlVQfe16ZXkV0Utig</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>mZ4AHMfhSz6PMIpUDEufLw</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>42-LlLtjSn20frGkfYH_xQ</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>qGubxVEXS_eJuS0k1I3JPw</string>
</dict>
</plist>
