<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>net.obxlabs.Know.jlewis.Know</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Jason E. Lewis</string>
			<key>DefaultPoem</key>
			<true/>
			<key>TextForegroundPosition</key>
			<integer>600</integer>
			<key>TextBackgroundPosition</key>
			<real>800</real>
			<key>TextWanderBackgroundSpeed</key>
			<real>0.05</real>
			<key>TextWanderDraggingSpeed</key>
			<real>0.7</real>
			<key>TextWanderFocusSpeed</key>
			<real>0.0375</real>
			<key>TextWanderFocusRadius</key>
			<real>37.5</real>
			<key>TextWanderBackgroundRadius</key>
			<real>50</real>
			<key>TextWanderDraggingRadius</key>
			<real>15</real>
			<key>TextWanderFriction</key>
			<real>0.98</real>
			<key>FontScale</key>
			<integer>100</integer>
			<key>BgColor</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>TextBackgroundColor</key>
			<array>
				<real>1</real>
				<real>1</real>
				<real>1</real>
				<real>1</real>
			</array>
			<key>TextForegroundColor</key>
			<array>
				<real>0.3</real>
				<real>0.06</real>
				<real>0.4</real>
				<integer>1</integer>
			</array>
			<key>TextFocusedColor</key>
			<array>
				<real>0.4</real>
				<integer>0</integer>
				<real>0.6</real>
				<integer>1</integer>
			</array>
			<key>TextOutlineFadedColor</key>
			<array>
				<real>1</real>
				<real>1</real>
				<real>1</real>
				<real>0</real>
			</array>
			<key>Properties</key>
			<dict>
				<key>FontFile</key>
				<string>olvr62b</string>
				<key>FontOutlineFile</key>
				<string>olvr62bu</string>
			</dict>
			<key>Properties-iPhone4</key>
			<dict>
				<key>FontFile</key>
				<string>olvr124b</string>
				<key>FontOutlineFile</key>
				<string>olvr124bu</string>
			</dict>
			<key>Properties-iPad</key>
			<dict>
				<key>FontFile</key>
				<string>olvr95b</string>
				<key>FontOutlineFile</key>
				<string>olvr95bu</string>
			</dict>
			<key>Properties-iPad3</key>
			<dict>
				<key>FontFile</key>
				<string>olvr190b</string>
				<key>FontOutlineFile</key>
				<string>olvr190bu</string>
			</dict>
			<key>TextFile</key>
			<string>buzzAldrin</string>
			<key>TextVersion</key>
			<integer>1</integer>
			<key>Title</key>
			<string>Buzz Aldrin Doesn&apos;t Know Any Better</string>
			<key>Fog</key>
			<true/>
			<key>FogColor</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>FogStartPosition</key>
			<real>900</real>
			<key>FogEndPosition</key>
			<real>500</real>
		</dict>
	</array>
</dict>
</plist>
